In [31]:
# import splinter and beautiful soup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [18]:
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [/Users/gaucing/.wdm/drivers/chromedriver/mac64/92.0.4515.107/chromedriver] found in cache

In [10]:
url = "https://redplanetscience.com"
browser.visit(url)
# optional delay for loading page
browser.is_element_present_by_css("div.list_text", wait_time=1)

True

In [11]:
html = browser.html
news_soup = soup(html, "html.parser")
slide_elem = news_soup.select_one("div.list_text")

In [13]:
news_title = slide_elem.select_one("div.content_title").get_text()
news_title

"Celebrate Mars Reconnaissance Orbiter's Views From Above"

In [15]:
news_p = slide_elem.select_one("div.article_teaser_body").get_text()
news_p

'Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.'

In [16]:
browser.quit()

### Featured Images

In [19]:
url = "https://spaceimages-mars.com"
browser.visit(url)

In [20]:
# find and click the full image button
full_image_elem = browser.find_by_tag("button")[1]
full_image_elem.click()

In [25]:
html = browser.html
img_soup = soup(html, "html.parser")

In [29]:
# get relative img url
img_url_rel = img_soup.select_one("img.fancybox-image").get("src")
img_url_rel

'image/featured/mars3.jpg'

In [30]:
img_url = f"https://spaceimages-mars.com/{img_url_rel}"
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [39]:
df = pd.read_html("https://galaxyfacts-mars.com")[0]
df.columns=["description", "mars", "earth"]
df.set_index("description", inplace=True)
df

                                    mars            earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [40]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>mars</th>\n      <th>earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'